@model Collective.Models.Record

@{
    ViewData["Title"] = "Add";
}

<div class="ml-3">
    <a asp-action="Index">Back to Search</a>
</div>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Add">
            <img class="col-md-3 mb-4 mt-4" src="@Model.Cover_Image" alt="Album Thumb" />
            <h5 class="col-md-12 mb-4">Are you sure you want to add @Model.Title by @Model.Artist to your Collection?</h5>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="hidden" asp-for="Master_Id" class="form-control" />
                <span asp-validation-for="Master_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Catno" class="form-control" />
                <span asp-validation-for="Catno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Thumb" class="form-control" />
                <span asp-validation-for="Thumb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Cover_Image" class="form-control" />
                <span asp-validation-for="Cover_Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Artist" class="form-control" />
                <span asp-validation-for="Artist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Select condition before adding to Collection:</label>
                @Html.DropDownListFor(model => model.Condition, new SelectList(
                  new List<Object>{
                       new { value = "Unselected", text ="Please Select..." },
                       new { value = "Mint" , text = "Mint"  },
                       new { value = "Near Mint" , text = "Near Mint" },
                       new { value = "Very Good" , text = "Very Good" },
                       new { value = "Good", text = "Good" },
                       new { value = "Fair", text = "Fair" },
                       new { value = "Poor", text = "Poor" }
                    },
                  "value",
                  "text",
                   2))
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Master_Url" class="form-control" />
                <span asp-validation-for="Master_Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add To Collection" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
